#content {
    width: 75%;
    margin: auto;
}
body {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #efdb89;
  }
  
  h1 {
    font-size: 3em;
    color: #000000;
    font-family: Georgia;
  }

  h2 {
    font-size: 1.6em;
    color: #000000;
    font-family: Georgia;
  }
  
  
  #byline {
    font-family:Georgia;
    font-size: 1.0em;
    color: #654321;
  }
  
  p {
    font-size: 1.2em;
    color: #654321;
    line-height: 1.2em;
    padding-bottom: 20px;
  }
  
  .img-container {
    width: 100%;
  }
  
  ul {
    font-size: 1.2em;
    color: #654321;
  }
  
  img {
    margin: auto;
    display: block;
  }
  
  .cutline {
    font-size: 12px;
  }
  
  @media (orientation: portrait) {
    #content {
      width: 100%
    }
  }